.slideshow{
	position: relative;
	max-width:2500px;
	
	margin:auto;
}

.slideshow-image{
	object-fit: cover;
	width:100%;
	height:800px;
	
}

.scroll-button-holder{
	position:absolute;
	
	bottom:0;
	

}
.prev,.next{
}
.next{
}
.scroll-button{
	font-size:65px;
	position:absolute;
	cursor:pointer;
	top:50%;
	width:auto;
	
	
}
.scroll-button:hover{
	color:white;
	
}

.no-highlit{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}